# EDA

### Purpose

1. To load the given train and test data,
2. Identify relationships between different features of the data,
3. Generate different data statistics,
4. Define and test the custom data cleaning methods

In [27]:
import pandas as pd
import csv
import os

In [6]:
train_df = pd.read_csv("../artifacts/data_ingestion/raw_train/train_data.csv")
train_df.head()

,ID,POSTED,TITLE_RAW,BODY,ONET_NAME,ONET
0,3a9bc988d77e46507f6753429dd848a816d0b9b9,2023-05-03,Executive Meeting Manager,Executive Meeting Manager Marriott La Jolla - ...,"Meeting, Convention, and Event Planners",13-1121.00
1,eb3a017370d55577e892ff8207a640b7d7136f31,2023-05-03,Rehabilitation Technician-Outpatient Rehab-Fle...,Rehabilitation Technician-Outpatient Rehab-Fle...,Occupational Therapy Aides,31-2012.00
2,8717d2213055d39271bd12490263a7fbe603aedb,2023-05-03,Office/Bookkeeping Assistant,"Office/Bookkeeping Assistant\nSanta Barbara, C...","Office Clerks, General",43-9061.00
3,43b55e4334835e20e1c64d9ac7bb0a0267369b9e,2023-05-03,Administrative Support Coordinator - VA - (REM...,Find Jobs Administrative Support Coordinator -...,"Secretaries and Administrative Assistants, Exc...",43-6014.00
4,afa355a328687ddb88d6265a237d0375bb36eae7,2023-05-03,Receptionist/Administrative Assistant,Receptionist/Administrative Assistant Burgess ...,"Secretaries and Administrative Assistants, Exc...",43-6014.00

In [7]:
train_df.describe()

,ID,POSTED,TITLE_RAW,BODY,ONET_NAME,ONET
count,17927,17927,17927,17927,17927,17927
unique,17927,4,14834,17875,699,699
top,3a9bc988d77e46507f6753429dd848a816d0b9b9,2023-05-16,Assistant Manager,Find jobs\nSearch\nEnter any combination of ti...,Registered Nurses,29-1141.00
freq,1,8192,51,6,959,959

In [8]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17927 entries, 0 to 17926
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         17927 non-null  object
 1   POSTED     17927 non-null  object
 2   TITLE_RAW  17927 non-null  object
 3   BODY       17927 non-null  object
 4   ONET_NAME  17927 non-null  object
 5   ONET       17927 non-null  object
dtypes: object(6)
memory usage: 840.5+ KB

In [12]:
train_df = pd.read_csv("../artifacts/data_ingestion/raw_train/train_data.csv")
test_df.head()

,ID,POSTED,TITLE_RAW,BODY,ONET_NAME,ONET
0,f42f82cfc80cd078f70b900cc9d97e37c609fc18,2022-01-06,Grocery Order Writer (Buyer / Inventory Replen...,Grocery Order Writer (Buyer / Inventory Replen...,"Purchasing Agents, Except Wholesale, Retail, a...",13-1023.00
1,892baace0e78f3c054eb184a6d45639a6191d1c4,2022-01-06,Superintendent,Apply to this job. \nThink you're the perfect ...,"Education Administrators, Kindergarten through...",11-9032.00
2,aac5926cba525496d8e57bb0f2e5550b9df15267,2022-01-06,Software Developer IV,Software Developer IV\nJob Locations\nUS-NE-Om...,Software Developers,15-1252.00
3,a8c7c1e5250794125a25905073a688e9e8eb62e8,2022-01-06,Auto Glass Technician,Auto Glass Technician Gerber Collision & Glass...,Automotive Service Technicians and Mechanics,49-3023.00
4,ef5b7131dc91f2bc63458622ea01bc23e365eda8,2022-01-06,Food and Beverage Operations Manager,Food and Beverage Operations Manager Wavetroni...,Food Service Managers,11-9051.00

In [13]:
test_df.describe()

,ID,POSTED,TITLE_RAW,BODY,ONET_NAME,ONET
count,19394,19394,19394,19394,19394,19394
unique,19394,6,15815,19006,708,708
top,f42f82cfc80cd078f70b900cc9d97e37c609fc18,2022-01-07,Administrative Assistant,Candidates\nEmployers\nHiring Companies\nNews ...,Registered Nurses,29-1141.00
freq,1,5547,58,41,765,765

In [14]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19394 entries, 0 to 19393
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         19394 non-null  object
 1   POSTED     19394 non-null  object
 2   TITLE_RAW  19394 non-null  object
 3   BODY       19394 non-null  object
 4   ONET_NAME  19394 non-null  object
 5   ONET       19394 non-null  object
dtypes: object(6)
memory usage: 909.2+ KB

### Relationship of inputs such as the title and O*NETs

In [17]:
# cross assigning titles to onets to get unique counts
cross_tab = pd.crosstab(train_df['TITLE_RAW'], train_df['ONET_NAME'])
cross_tab.shape

(14834, 699)

In [18]:
# Grouping ONETS and titles
grouped = train_df.groupby(['ONET_NAME'])['TITLE_RAW'].nunique()
grouped.sort_values()

ONET_NAME
Zoologists and Wildlife Biologists                                                                1
Gas Compressor and Gas Pumping Station Operators                                                  1
Genetic Counselors                                                                                1
Geological Technicians, Except Hydrologic Technicians                                             1
Geoscientists, Except Hydrologists and Geographers                                                1
                                                                                               ...
Sales Representatives, Wholesale and Manufacturing, Except Technical and Scientific Products    310
First-Line Supervisors of Retail Sales Workers                                                  311
Retail Salespersons                                                                             405
Unclassified                                                                                    570
Registered Nurses                                                                               890
Name: TITLE_RAW, Length: 699, dtype: int64

In [19]:
# Checking a title and corresponding O*NETs
train_df[train_df['TITLE_RAW'] == "Porter"]

,ID,POSTED,TITLE_RAW,BODY,ONET_NAME,ONET
752,641b04cd25f26ef387963628e1faf8d73ba2617e,2023-05-03,Porter,"Porter\n\nPeopleReady of Auburn, AL is now hir...","Janitors and Cleaners, Except Maids and Housek...",37-2011.00
3168,5e0e06c46445b0f3861f315b0e906c406b6b9a0c,2023-05-04,Porter,Porter Arbors Assisted Living @ Hauppauge Haup...,Parking Attendants,53-6021.00
4987,c1f8dba94d25e81616fe15411f1b6c928804c6c5,2023-05-04,Porter,"Job Description\n\n \n Camping World Holdings,...",Cleaners of Vehicles and Equipment,53-7061.00
5437,c0ed8bbbcecf60328b08e7a4dba72723ab0e5fe4,2023-05-04,Porter,"Porter Essex Property Trust, Inc. San Diego, C...","Janitors and Cleaners, Except Maids and Housek...",37-2011.00
6070,c12b5a7cc6cdf8b756fa4c6487393f8d658d2561,2023-05-04,Porter,"Porter #23-6491\n \n\n Saukville, WI\nPOSITION...",Cleaners of Vehicles and Equipment,53-7061.00
8335,26ab28f744401ab26a457051f2ee645e38867a72,2023-05-16,Porter,Porter Housing Authority of Bexar County San A...,"Janitors and Cleaners, Except Maids and Housek...",37-2011.00
10182,c35296f6beba48bab99da48a3bb2b7f2bc3a01a3,2023-05-16,Porter,"Porter Embrey Management Services LTD. Denver,...","Maintenance and Repair Workers, General",49-9071.00
10340,3d2e8b665329a5085add70fc0258677f16785d7c,2023-05-16,Porter,"Porter ANTOINE'S FAMOUS CAKES Gretna, LA 70053...","Janitors and Cleaners, Except Maids and Housek...",37-2011.00
13108,14b5a89d1399436a2daf38456ca95f4143b52b19,2023-05-16,Porter,"Porter Carolina Sweepers Cary, NC 27519 $14 an...","Janitors and Cleaners, Except Maids and Housek...",37-2011.00
17302,90be9abeb312c02fe7dda8f8dfb9980783bfdef5,2023-01-19,Porter,"Porter\nGanado, TX, United States\n|\nreq58260...","Janitors and Cleaners, Except Maids and Housek...",37-2011.00

### Get O*NET stats

In [21]:
# ONET Stats
train_onets  = set(train_df.ONET_NAME.to_list())
test_onets = set(test_df.ONET_NAME.to_list())
print("individual train test:", len(train_onets), len(test_onets))
print("intersection:", len(train_onets.intersection(test_onets)))
print("union:", len(train_onets.union(test_onets)))

individual train test: 699 708
intersection: 602
union: 805

In [36]:
def get_all_onets(onet_data_path="../data/raw/All_Occupations.csv"):
    """ 
    This method returns list of all ONETs available on the official site
    
    Input: path: str -->  (Optional) Path to the onet csv file

    Output: : all_onets_original: list[str] --> all ONETs available
    """
    all_occupations_df = pd.read_csv(onet_data_path)
    all_onets_original = all_occupations_df.Occupation.to_list()
    return all_onets_original

In [24]:
# Check stats with original onet data
all_occupations_df = pd.read_csv("../data/raw/All_Occupations.csv")
all_onets_original = set(all_occupations_df.Occupation.to_list())
print("Total onets in original big list : ",len(all_onets_original))
print("train onets in original big list : ",len(all_onets_original.intersection(train_onets)))
print("test onets in original big list : ",len(all_onets_original.intersection(test_onets)))
print("train+test onets in original big list : ",len(all_onets_original.intersection(train_onets.union(test_onets))))

Total onets in original big list :  1017
train onets in original big list :  699
test onets in original big list :  708
train+test onets in original big list :  805

### Data cleaning and preparation

Testing the functions to be used for data cleaning and preparation

In [31]:
# Get list of stopwords
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
import string

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\shrin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [30]:
def get_special_tokens(path="../data/raw/special_words.txt"):
    """ 
    This method returns list of special words to be removed from the text.
    
    Input: path: str --> Path to the word file

    Output: : special_tokens: list[str] --> all words/special tokens to be removed
    """
    special_tokens=[]
    if not os.path.exists(path):
        return []

    with open(path, "r") as f:
        special_tokens = f.readlines()
    special_tokens = [line.rstrip('\n') for line in special_tokens]
    
    return special_tokens

print(get_special_tokens()[:5])

['job', 'role ', 'position', 'responsibilities', 'responsibility']

In [32]:
def clean_text(text, stop_words=stopwords.words('english'), punct=string.punctuation, special_tokens=[]):
        """ 
        This method returns cleaned String from an input string. 
        Removes stop words, punctuations, numbers and any special tokens given.
        
        Input:  text : str                  --> input string to be cleaned
                stop_words : list[str]      --> (Optional) list of stop words to be removed from the text
                punct : list[str]           --> (Optional) list of punctuations to be removed from the text
                special_tokens : list[str]  --> (Optional) list of special words to be removed from the text

        Output: text: string:  cleaned text
        """

        text= text.lower()
        
        text = text.replace("\n"," ")
        
        text = text.replace(r'[0-9]+', ' ')
        text = text.replace(r'[^\w\s]', ' ')
        text = text.replace(r'[^a-zA-Z]', ' ')
        for p in punct:
            text = text.replace(p," ") 
            
        text = ' '.join([word for word in text.split() if word not in stop_words])
        text = ' '.join([word for word in text.split() if word not in special_tokens])
        text = ''.join([i for i in text if not i.isdigit()])
        text = text.replace(r'\s+', ' ')
        text = ' '.join([i for i in text.split() if len(i)>1])
        
        text = text.replace(r'\s+', ' ')
        return text

print("Original Text: ", train_df["TITLE_RAW"][0], "\n", "Cleaned Text: ",clean_text(train_df["TITLE_RAW"][0]))

Original Text:  Executive Meeting Manager
 Cleaned Text:  executive meeting manager

In [34]:
def get_clean_job_str(job_title, job_post):
    """ 
    This method returns cleaned Job Posting from Job Title and Job String. 
    Appends title and body tokens and concatenates the two.
    
    Input: Job Title Raw : string
            Job Body Raw : string
    Output: job_str: string:  cleaned and concatenated job details
    """
    title_token = "[TTL] "
    body_token = " [DESC] "

    job_title = clean_text(job_title, special_tokens=get_special_tokens())
    job_post = clean_text(job_post, special_tokens=get_special_tokens())

    job_str = title_token + job_title + body_token + job_post

    return job_str

print("Cleaned Job Post: \n ", get_clean_job_str(train_df["TITLE_RAW"][0], train_df["BODY"][0]))

Cleaned Job Post:
  [TTL] executive meeting manager [DESC] executive meeting manager marriott la jolla la jolla ca ago free parking disability matching discount life microsoft word hospitality microsoft excel detailing sales military catering revenue management high school ged bachelor forecasting computer communication negotiation hotel us surround modern comforts san diego marriott la jolla stylish hotel positions near dazzling destinations la jolla shores birch aquarium california san diego beautiful new westfield utc shopping mall associates enjoy free meals newly renovated associate cafeteria monthly town hall luncheon ballroom special delights chef games prizes also offer free parking site hotel discounts marriott starwood brands worldwide come see us today learn meet every single requirement studies shown women people color less likely jobs unless meet every single qualification hei dedicated building diverse inclusive workplace excited role align perfectly every qualification encourage still send perfect candidate roles within organization value military invite qualified military candidates overview executive meeting manager brings bear organizational detailing identify implement profitable execution groups ensure group manager responsible meets exceeds revenue expectations based contracts active positive contribution towards high performance within convention department customer advocacy sustained revenue achievement communication participation understanding monthly forecasting annual budget process understand importance raising meeting planner evaluation scores implement effective methods ensure exceeding meeting planner satisfaction optimize room rental charges consistently participate booking repeat business track record long term client relationships actively participate industry related organizations nace mpi thorough knowledge sales techniques closing well negotiating comfortable hotel site inspections client presentations creative provide innovative set ups menus functions groups generate creative innovative menus closely chef pricing specialty menus closely banquet department operations event execution quickly evaluate alternatives decide plan action provide overall direction coordination ongoing evaluation operations detailed execution banquet event orders generated convention department providing audio visual equipment operating audio visual profit center knowledge computers specifically delphi word excel monitor group room blocks pick generate detailed resumes operating departments outside vendors ensure client satisfaction events groups comply attendance rules basis perform related duties assigned prior field hospitality specific catering sales essential year within hospitality industry similar size quality hotel high school bachelors possess computer microsoft word excel delphi knowledge sales revenue management training motivation peers knowledge hotel features competing hotels within market execute appropriate action plans knowledge hotel operations marketing plans security safety programs personnel labor relations preparation business plans repairs maintenance budget forecasting quality assurance programs hospitality law long range planning effectively constraints deadlines effective verbal written communication adapt communication style suit different audiences effectively communicating supervisors coworkers public etc hei hotels resorts committed providing comprehensive benefit offers choices physical mental financial wellness creating value important investment physical mental wellness offer competitive medical programs anthem blue cross blue shield well programs eyemed vacation sick holiday programs rejuvenate financial wellness hei provides wide array coverage supplemental spousal child life well short long term disability plans savings plan matching funds discounts youdecide hotel room discount programs provide additional incentives choosing hei future specific eligibility programs vary status today get paid today proudly partner dailypay voluntary benefit allows associates access earnings want hei hotels resorts equal evaluate qualified applicants regard color religion sex sexual identity national origin disability veteran status legally protected characteristics

In [49]:
def get_onet_dicts(all_onets_original=get_all_onets()):
    """ 
    This method returns 2 dictionaries used to map standard ONET Names to string IDs. 
    
    Input: all_onets_original: list[str] --> (Optional) list of all ONETs

    Output: : id_to_onet_dict: dict[str, str] --> standard mapping of string id to ONETs --> "id" : "ONET_NAME"
              onet_to_id_dict: dict[str, str] --> standard mapping of ONETs to string id --> "ONET_NAME" : "id"
    """
    id_to_onet_dict = {str(id):onet for id, onet in enumerate(all_onets_original)}
    onet_to_id_dict = {onet:id for id,onet in id_to_onet_dict.items()}
    return id_to_onet_dict, onet_to_id_dict

id_to_onet_dict, onet_to_id_dict = get_onet_dicts()


for id in list(id_to_onet_dict.keys())[:5]: 
    print("id: ", id, " is mapped to O*NET: ", id_to_onet_dict[id])
print()  
for onet in list(onet_to_id_dict.keys())[:5]: 
    print("O*NET: ", onet, " is mapped to id: ", onet_to_id_dict[onet])

id:  0  is mapped to O*NET:  Accountants and Auditors
id:  1  is mapped to O*NET:  Actors
id:  2  is mapped to O*NET:  Actuaries
id:  3  is mapped to O*NET:  Acupuncturists
id:  4  is mapped to O*NET:  Acute Care Nurses

O*NET:  Accountants and Auditors  is mapped to id:  0
O*NET:  Actors  is mapped to id:  1
O*NET:  Actuaries  is mapped to id:  2
O*NET:  Acupuncturists  is mapped to id:  3
O*NET:  Acute Care Nurses  is mapped to id:  4